@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

*{
    font-family: Raleway, sans-serif;
}

.registerbtn{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}