<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
<head>
    <title>Home Page</title>
    <meta charset="utf-8"/>
</head>

<!--
<input name = "username" id = "username" type = "text" [(ngModel)] = "username"><br>
<button class="btn btn-success" (click)="FindProfileByUsername()">Search</button>
<div></div>

<label for="username1">Find Private And Public Profile By Username :</label><br/>
<input name = "username1" id = "username1" type = "text" [(ngModel)] = "username1"><br>
<button class="btn btn-success" (click)="FindPublicAndPrivateProfile()">Search</button>
-->
<form>
    <input type="text" placeholder="Search..." [(ngModel)]="userName" [ngModelOptions]="{standalone: true}" required>
    <button type="submit" class="searchbtn" (click)="getProfileByUsername()">See profile</button>
  </form>


  <!--KAKO PRILIKOM UNOSA USERNAMEA I PRITISKOM NA DUGME DA SE POJAVI PROFIL SA POSTOVIMA-->
                    <!--PROFILE-->
  <div class="profile-container">
    <div class="profile-header">{{user.firstName}} {{user.lastName}}</div>
    <div class="profile-info">
      <div class="info-block">
        <div class="info-header">Followers</div>
        <div class="info-count">0</div>
      </div>
      <div class="info-block">
        <div class="info-header">Followings</div>
        <div class="info-count">0</div>
      </div>
    </div>
    <div class="profile-details">
      <div class="detail">First name: {{user.firstName}}
          <!--<p>{{user.firstName}}</p>-->
      </div>
      <div class="detail">Last name: {{user.lastName}}
          
      </div>
      <div class="detail">Email: {{user.email}}
          
      </div>
      <div class="detail">Username: {{user.username}}
          
      </div>
      <div class="detail">Date of birth: {{user.dateOfBirth}}
          
      </div>
    </div>
  </div>
                    <!--POSTOVI-->
  <div class="post" *ngFor="let post of posts">
    <img src="https://via.placeholder.com/350x150" alt="Post Image">
    <div class="text">
      
        <!--<p>OWNER : {{ post.owner.username }}</p>-->
        <p>{{ post.text }}</p>
        <p>{{ post.numberOfLikes }} LIKES</p>

    </div>
    
    
    <div class="actions">
      <button>Like</button>
      <button>Comment</button>
    </div>
  </div>