form {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #ccc;
    outline: none;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #0082e6;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #0082e6;
    cursor: pointer;
    font-size: 16px;
  }
  .followbtn:hover{
    background-color: #0b5bc4;
    border: 1px solid #0b5bc4;
  }

  .searchbtn:hover{
    background-color: #0b5bc4;
    border: 1px solid #0b5bc4;
  }
  